@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #696871;
}

ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #ff7143;
}

.block {
    padding: 50px 0;
}

.block-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    margin-bottom: 30px;
    color: #19191b;
}

.block-desc {
    font-size: 20px;
    line-height: 30px;
    color: #696871;
    margin-bottom: 50px;
}

.block-link {
    color: #5454d4;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}

.header {
    padding: 30px 0;
}

.menu-link {
    display: block;
    height: 44px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    position: relative;
    margin: 0 25px;
}

.menu-link:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #5454d4;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
}

.menu-link:hover,
.menu-link.active::after,
.menu-link:hover::after {
    opacity: 1;
    transition: 0.4s;
}

.btn-cta {
    background: #ff7143;
    border-radius: 10px;
    padding: 19px 56px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}

.banner-title {
    font-size: 80px;
    line-height: 77px;
}

.banner-link {
    background: #5454d4;
    border-radius: 10px;
    height: 60px;
    padding: 19px 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: white;
}

.brand-list li {
    width: 20%;
    text-align: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-icon {
    margin-bottom: 20px;
}

.feature-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #19191b;
    margin-bottom: 20px;
}

.feature-desc {
    text-align: center;
    color: #696871;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.block-price .custom-row {
    margin-bottom: 82px;
}

.price-title {
    margin-bottom: 0;
}

.price-tab {
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 6px;
    background: #f7f7fb;
}

.tab-item {
    height: 55px;
    padding: 0 15px;
    line-height: 53px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #19191b;
    width: 160px;
}

.tab-item.active {
    background: #5454d4;
    color: white;
}

.tab-item:first-child {
    border-radius: 10px 0 0 10px;
}

.tab-item:last-child {
    border-radius: 0 10px 10px 0;
}

.pricing-item {
    padding: 34px 24px 27px;
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pricing-label {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #696871;
    margin-bottom: 22px;
}

.pricing-title {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    color: #1d293f;
    margin-bottom: 28px;
}

.pricing-title .pricing-small {
    font-size: 30px;
}

.pricing-desc {
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    margin-bottom: 36px;
}

.pricing-link {
    display: block;
    background: #ffffff;
    border: 1px solid #eae9f2;
    border-radius: 10px;
    color: #5454d4;
    font-weight: bold;
    font-size: 17px;
    line-height: 58px;
    text-align: center;
    height: 60px;
    width: 100%;
}

.pricing-item.feature {
    background: #ff7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    padding: 50px 43px 37px;
}

.pricing-item.feature * {
    color: white;
}

.pricing-item.feature .pricing-link {
    background: #9f3919;
    border: none;
}

.block-price .custom-row:last-child {
    padding-right: 9px;
    padding-left: 9px;
}

.block-price .custom-row:last-child .col-md-4 {
    padding-right: 9px;
    padding-left: 9px;
}